header{
    background-color: #F4F9E2;
}
nav {
    max-width: 1140px;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 48px;
}

.navbar li a{
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.29%;
}
.navbar li a:hover {
    border-bottom: 1px solid black;
}

.button{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 50px;
    border: 1px solid #000;
    background: #F9B640;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-style: italic;
    color: #FFF;
    text-align: center;
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    line-height: normal; 
    cursor: pointer;
}